<!DOCTYPE html>
<html>
<head>
    <title>POP STORE</title>

    <% include ../public/stylesheets/nav %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="image/cards-gallery.css">
    <link rel='stylesheet' href='/stylesheets/swiper.css'>
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/GridLoadingEffects/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/GridLoadingEffects/css/component.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lumen/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/freebie-bootstrap-footers/assets/css/Footer-with-button-logo.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" rel="stylesheet" type="text/css">
    <!--<link href="/slick-lightbox-master/dist/slick-lightbox.css" rel="stylesheet" type="text/css">-->
    <link href="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css" rel="stylesheet">

    <script src="/GridLoadingEffects/js/modernizr.custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        .container{
            margin-right:auto;
            margin-left:auto;
            justify-content: center;
        }
        .container1{
            margin-left:auto;
            margin-right:auto;
            padding-top: 40px;
        }
        h1{
            font-size: 40px;
            line-height: 40px;
            font-weight: 600;
            color:#4c5357;
        }
        .header h1 a {
            color: #fff;
            text-decoration: none;
        }
        h2 {
            margin-left: 25px;
            line-height: 70px;
            margin-bottom: 40px;
        }
        .text-center1{
            text-align:center;
        }
        .img-circle{
            border-radius: 50%;
            width:150px;
            height:150px;
            margin-bottom: 27px;
        }


        .swiper-container {
            width: 1000px;
            height: 400px;
            border: 1px solid white;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        #columns{
            column-width:260px;
            column-gap: 5px;
        }
        #columns figure{
            display: inline-block;
            margin:0;
            margin-bottom: 5px;
            padding:10px;
        }
        #columns figure img{
            width:100%;
        }
        #columns figure figcaption{
            padding:10px;
        }
    </style>
    <style>

        .demo-gallery > ul {
            margin-bottom: 0;
            padding-left: 15px;
        }

        .demo-gallery > ul > li {
            margin-bottom: 15px;
            width: 180px;
            display: inline-block;
            margin-right: 15px;
            list-style: outside none none;
        }

        .demo-gallery > ul > li a {
            border: 3px solid #FFF;
            border-radius: 3px;
            display: block;
            overflow: hidden;
            position: relative;
            float: left;
        }

        .demo-gallery > ul > li a > img {
            -webkit-transition: -webkit-transform 0.15s ease 0s;
            -moz-transition: -moz-transform 0.15s ease 0s;
            -o-transition: -o-transform 0.15s ease 0s;
            transition: transform 0.15s ease 0s;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            height: 100%;
            width: 100%;
        }

        .demo-gallery > ul > li a:hover > img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }

        .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
            opacity: 1;
        }

        .demo-gallery > ul > li a .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: background-color 0.15s ease 0s;
            -o-transition: background-color 0.15s ease 0s;
            transition: background-color 0.15s ease 0s;
        }

        .demo-gallery > ul > li a .demo-gallery-poster > img {
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
        }

        .demo-gallery > ul > li a:hover .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .demo-gallery .justified-gallery > a > img {
            -webkit-transition: -webkit-transform 0.15s ease 0s;
            -moz-transition: -moz-transform 0.15s ease 0s;
            -o-transition: -o-transform 0.15s ease 0s;
            transition: transform 0.15s ease 0s;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            height: 100%;
            width: 100%;
        }

        .demo-gallery .justified-gallery > a:hover > img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }

        .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
            opacity: 1;
        }

        .demo-gallery .justified-gallery > a .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: background-color 0.15s ease 0s;
            -o-transition: background-color 0.15s ease 0s;
            transition: background-color 0.15s ease 0s;
        }

        .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            opacity: 0;
            position: absolute;
            top: 50%;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
        }

        .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .demo-gallery .video .demo-gallery-poster img {
            height: 48px;
            margin-left: -24px;
            margin-top: -24px;
            opacity: 0.8;
            width: 48px;
        }

        .demo-gallery.dark > ul > li a {
            border: 3px solid #04070a;
        }
    </style>
</head>
<body>

<div class="container1" style="margin:auto;">

    <div class="row"style="width: 1240px; margin:auto;">

        <div class="col-md-2" style="height: 200px;margin-top:15px;" id="profile_img">
            <!--<img style="margin:8%;" src="#" class="img-circle">-->
        </div>
        <div class="col-md-4" style="height: 200px;">
            <div id ="user_profile" style="margin-top: 30px; margin-top: 45px;margin-left:20px;">
                <div class="row">
                    <div class="col">
                        <div text-align="center" style="inline:block">
                            <h5 id="user_id" style="font-weight:bold;font-size:18px;color:#555;">ID: </h5>
                        </div>
                        <div text-align="center" style="inline:block">
                            <h5 id="user_nickname" style="font-weight:bold;font-size:18px;color:#555;">Nickname: </h5>
                        </div>
                    </div>
                    <div class="col">
                        <div text-align="center" style="inline:block">
                            <h5 id="user_name"style="font-weight:bold;font-size:18px;color:#555;">Username: </h5>
                        </div>
                        <div text-align="center" style="inline:block">
                            <h5 id="user_point"style="font-weight:bold;font-size:18px;color:#555;">Point: </h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 5px;">
                <div class="col" style="text-align: center">
                    <button type="button" class="btn btn-dark" style="inline:block; width:90%; font-size: 16px;" onclick="movemypage()">마이페이지</button>
                </div>
                <div class="col" style="text-align: center">
                    <button type="button" class="btn btn-danger" style="inline:block; width:90%; font-size: 16px;" onclick="moveindex()">로그아웃</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 200px;">
            <div class="row" style="margin-top:20px; text-align: center">
                <div class="col" style="inline:block;">
                    <button type="search" class="btn btn-outline-dark" style=" width:160px; height: 160px; font-size: 16px;" onclick="moveimageregistration()">이미지 등록하기</button>
                </div>
                <div class="col" style="inline:block;">
                    <button type="search" class="btn btn-outline-dark" style=" width:160px; height: 160px; font-size: 16px;" onclick="moveimagehistory()">이미지 이력조회</button>
                </div>
                <div class="col" style="inline:block;">
                    <button type="search" class="btn btn-outline-dark" style=" width:160px; height: 160px; font-size: 16px;" onclick="movemarket()">POP MARKET</button>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            function get_profile(req,res){
                var html ="";
                $.ajax({
                    type : "post",
                    url : "/profile/get_profile",
                    dataType : "json",
                    contentType : "application/json; charset=UTF-8",
                    success : function(data){
                        var div = document.getElementById('#user_profile');
                        var user_id = data.key.user_id;
                        var user_nickname = data.key.user_nickname;
                        var user_name = data.key.user_name;
                        var point = data.key.point;
                        var profile_img = data.key.profile_img;
                        $('#user_id').append(user_id);
                        $('#user_nickname').append(user_nickname);
                        $('#user_name').append(user_name);
                        $('#user_point').append(point);
                        $('#profile_img').append(`<img style="margin:8%;" src=${profile_img} class="img-circle">`)
                    }
                })
            }
            get_profile();
            function movemypage() {
                location.href = "/mypage";
            }
            function moveindex() {
                location.href = "/logout";
            }
            function moveimageregistration() {
                location.href = "/upload";
            }
            function moveimagehistory() {
                location.href = "/imagehistory";
            }
            function movemarket() {
                location.href = "/market";
            }
        </script>
        </br>
        <div style="margin-left:auto; margin-right:auto; margin-top:70px; text-align: center;">
            <h1>
                최신 판매글 미리보기
            </h1>
        </div>
        <div class="swiper-container" style="margin-bottom: 20px; width: 1240px;">
            <hr>
            <div class="swiper-wrapper">
                <% var length = Object.keys(board_content).length; %>

                <% for(var i=0; i< length; i++ ) { %>
                    <% if (i > 10){ break;}%>
                    <% count = length-i-1 %>
                    <% var d = board_content[count].timestamp;%>
                    <% var html_board_tag =""; %>
                    <% for (k = 0; k < board_tag.length; k++){ %>
                        <%  if(board_tag[k].board_no == board_content[count].BOARD_NO){ %>
                            <%     html_board_tag += "#"+board_tag[k].tagged+" " %>
                        <% } %>
                    <% } %>
                    <% if(board_content[count].blind == "N") { %>

                        <div id="swiperdiv" class="swiper-slide" style="width:600px;">
                            <div class="row">

                                <div style="margin-right: 75px; margin-left:-145px">
                                    <a href='/market/marketpostcontent/<%= board_content[count].BOARD_NO %>'/><img src="<%= image[count].copy_path %>" alt="이미지가 없습니다." style="border-radius: 10px; width: 340px; height: 340px;"></a>
                                </div>

                                <div style="text-align: left; padding-left:20px">
                                    <h6 style="margin-bottom: 10px;">
                                        <span class="badge=">글 번호 : <%= board_content[count].BOARD_NO%> 조회수 : <%= board_content[count].hit %></span>
                                    </h6>

                                    <h1 class="card-title">
                                        <a href='/market/marketpostcontent/<%= board_content[count].BOARD_NO %>'>
                                            <%= board_content[count].subject %>
                                        </a>
                                    </h1>
                                    <% var inputid = 'input'+ board_content[count].BOARD_NO %>
                                    <br>

                                    <h5>판매자 : <%= board_content[count].user_id %></h5>
                                    <!--<button style="height:25px; float:right" class="btn btn-outline-dark btn-sm" onclick="copyText('<%=inputid%>', '<%=board_content[count].image_id%>')">이미지ID 복사</button>-->
                                    <hr>

                                    <div>
                                        <button type="button" class="btn btn-dark btn-lg btn-block" style="font-size: 20px;width:280px; height:45px;"><%= board_content[count].price %> POINT</button>
                                    </div>
                                    <hr>

                                    <span class="badge badge-dark">TAG : <%= html_board_tag %></span><br>
                                    <span class="badge badge-primary"><%= d.getFullYear() +'년 '+ (d.getMonth()+1) +'월 '+ d.getDate() +'일 '+ d.getHours() +'시 '+ d.getMinutes() +'분 '%></span>

                                    <script>
                                        var copyText = function(inputId, imageId){
                                            var textField = document.createElement("textarea");
                                            document.body.appendChild(textField);
                                            textField.value = imageId;
                                            textField.select();
                                            document.execCommand('copy');
                                            alert(`이미지 ID가 복사되었습니다. ${imageId}`);
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }%>
            </div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination"></div>-->
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <div class="text-center1" style="margin-right:auto; margin-left:auto; margin-bottom: 20px;">
            <button type="search" class=" btn btn-outline-dark" style="width:300px; font-size: 16px;"onclick="moveimagehistory()" >이미지 전체 이력<br> 조회</button>
            <button type="write" class=" btn btn-outline-dark" style="width:300px; font-size: 16px;"onclick="movemarket()" >이미지 판매글 <br>작성하러 가기</button>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <!--<script src="/slick-lightbox-master/dist/slick-lightbox.js"></script>-->

        <section class="" style="width: 1240px;">
            <div class="container1" style="margin-top: 40px;">
                <h1 class="text-center">
                    POP STORE GALLERY
                </h1>
                <hr>
                <ul class="grid effect-8 hidebox" id="lightgallery">
                    <% var length1 = Object.keys(all_image).length; %>
                    <% a = "";%>
                    <% for (j = 0; j < length1; j++) { %>
                        <% a +=`
                    <li class="grid-item"
                        data-src="${all_image[j].copy_path}"
                        data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" style="width:100%; border-radius: 10px; border:2px solid white" src="${all_image[j].copy_path}">
                        </a>
                    </li>
                        ` %>
                    <% }%>
                    <%- a%>
                </ul>
            </div>

            <div class="text-center" style="margin-bottom: 40px;">
                <button class=" btn btn-dark" style="width:150px; font-size: 16px;" href="#loadMore" id="loadMore">Load more</button>
                <button class=" btn btn-primary" style="width:150px; font-size: 16px;" href="#" id="top">Back to top</button>
            </div>
        </section>

        <!-- Swiper JS -->
        <script src="js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: {
                    el: '.swiper-pagination',
                    type: 'fraction',
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        </script>
    </div>

</div>
</div>



<script src="/GridLoadingEffects/js/masonry.pkgd.min.js"></script>
<script src="/GridLoadingEffects/js/imagesloaded.js"></script>
<script src="/GridLoadingEffects/js/classie.js"></script>
<script src="/GridLoadingEffects/js/AnimOnScroll.js"></script>
<script>

    $(function() {
        var $grid = $('.grid').masonry();
        var load_count = 10;
        load_count = {load_count : load_count};
        // back to top
        $("#top").on('click', function(){
            $('html,body').animate({
                scrollTop: 0
            }, 500);
        })
        // Load More 버튼을 클릭한 경우
        $('#loadMore').on('click', function() {
            var load_html ="";
            $.ajax({
                type : "post",
                url : "/main/load_more",
                dataType : "json",
                data : load_count,
                success : function(data){
                    // ajax로 이미지 목록을 받아와서 <li> 태그를 생성
                    var length2 = data.load_image.length;
                    if(length2 < 1){
                        alert("이미지가 더이상 존재하지 않습니다.");
                    }
                    for (count = 0; count < length2; count++) {
                        load_html +=  `
                    <li class="grid-item"
                        data-src="${data.load_image[length2-count-1].copy_path}"
                        data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" style="width:100%; border-radius: 10px; border:2px solid white" src="${data.load_image[length2-count-1].copy_path}">
                        </a>
                    </li>
`;
                    }
                    // ajax 호출에 성공하면 # rid에 <li> 요소를 추가하고 reloadItems와 _init()를 호출
                    $('.grid').append(load_html);
                    $grid.masonry('reloadItems');
                    aos._init();
		    lightGallery(document.getElementById('lightgallery'));

                    load_count.load_count += 10;
                    $('html,body').animate({
                        scrollTop: $("#loadMore").offset().top+300
                    }, 1000);
                }
            })
        });
        var aos = new AnimOnScroll(document.getElementById('lightgallery'), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        });

        // $('#grid').slickLightbox();
        // $('#grid').on('click', '[data-toggle="lightbox"]', function(event) {
        //     event.preventDefault();
        //     $(this).ekkoLightbox();
        // });
    })
</script>
<!--<script src="lightbox//ekko-lightbox.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
<script>
    lightGallery(document.getElementById('lightgallery'));
</script>
<% include ../public/stylesheets/footer %>

</body>
</html>
